.nav {
	&__close-btn {
		float: right;
		.dir-rtl & {
			float: left;
		}

		background-color: @validation-error !important;
	  color: #fff !important;

		&:hover {
			background-color: @nav-icon-hover !important;
		}
	}
}

.close {
	display: inline-block;

	&__inner {
		margin-top: @btn-margin;
		padding-left: @btn-margin / 2;
		padding-right: @btn-margin / 2;

		&.center {
			text-align: center;
		}
	}
}

.extensions {
	text-align: center;
}
