.navigation-close-button {
	float: right;
}

.close-component {
	display: inline-block;

	.close-inner {
		margin-top: @btn-margin;
		padding-left: @component-padding-hoz / 2;
		padding-right: @component-padding-hoz / 2;

		&.center {
			text-align: center;
		}
	}
}

.extensions {
	text-align: center;
}
